<div class="row-body">
	<div class="body-content">
		<div class="grid-container">
			<div class="grid-content" id="stats">
				<div class="page-container user-stats">
					{$rows}
				</div>
			</div>
			
			<div class="grid-sidebar">
				{$sidebar}
			</div>
		</div>
	</div>
</div>