<!-- <div class="row-page"> -->
	<!-- <div class="twelve columns"> -->
		<!-- <div class="page-login-container"> -->
			 <!-- <div class="page-content"> -->
				
				<!-- <form action="{$url}/index.php?a=admin" method="post"class='ad-login'> -->
					<!-- <div class="page-inner"> -->
						<!-- <div class="page-input-container"> -->
							<!-- <div class="page-input-content"> -->
								<!-- <input type="text" name="username"placeholder='Admin'><br> -->

							<!-- </div> -->
						<!-- </div> -->
						<!-- <div class="page-input-container"> -->

							<!-- <div class="page-input-content"> -->
								<!-- <input type="password" name="password"placeholder='{$lng->admin_pass}'> -->
								
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->
					<!-- <div class="page-inner"> -->
						<!-- <div class="page-input-title"></div> -->
						<!-- <div class="page-input-content"> -->
							<!-- <input type="submit" value="Đăng Nhập" name="login"class='log-submit'> -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </form> -->
			<!-- </div>  -->
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->
<body>
<div class="wrapper">
    <div class="title">
     Admin 
    </div>
    <form  action="{$url}/index.php?a=admin" method="post">
       <div class="field">
          <input type="text" name="username" required>
          <label>Admin </label>
       </div>
       <div class="field">
          <input type="password" name="password" required>
          <label>Mật Khẩu</label>
       </div>
      
       <div class="field">
          <input type="submit" value="{$lng->login}" name="login">
       </div>
       
    </form>
 </div>  
 {$message}
</body>

