<div class="page-inner">
	<div class="page-input-container">
		<div><strong>{$lng->user_registration}</strong></div>
		<div class="stats-container columns">
			{$lng->users_today}
			<h3>{$users_today}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->users_this_month}
			<h3>{$users_this_month}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->total_users}
			<h3>{$users_total}</h3>
		</div>
		
		
	</div>
	<div class="divider"></div>
	<div class="page-input-container">
		<div><strong>Bài hát</strong></div>
		<div class="stats-container columns">
			Tổng số bài hát
			<h3>{$tracks_total}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->public_tracks}
			<h3>{$tracks_public}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->private_tracks}
			<h3>{$tracks_private}</h3>
		</div>
		
	</div>
	<div class="divider"></div>
	<div class="page-input-container">
		<div><strong>{$lng->playlists}</strong></div>
		<div class="stats-container columns">
			{$lng->playlists_today}
			<h3>{$playlists_today}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->playlists_this_month}
			<h3>{$playlists_this_month}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->playlists_total}
			<h3>{$total_playlists}</h3>
		</div>
	
	</div>
</div>
<div class="divider"></div>

<div class="divider"></div>
<div class="page-inner">
	<div class="page-input-container">
		<div><strong>{$lng->likes}</strong></div>
		<div class="stats-container columns">
			{$lng->likes_today}
			<h3>{$likes_today}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->likes_this_month}
			<h3>{$likes_this_month}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->likes_total}
			<h3>{$total_likes}</h3>
		</div>
	
	</div>
	<div class="divider"></div>
	<div class="page-input-container">
		<div><strong>Lượt Phát</strong></div>
		<div class="stats-container columns">
			{$lng->plays_today}
			<h3>{$plays_today}</h3>
		</div>
		<div class="stats-container columns">
			Trtong tháng
			<h3>{$plays_this_month}</h3>
		</div>
		<div class="stats-container columns">
			Tổng lượt phát
			<h3>{$total_plays}</h3>
		</div>
	
		
	</div>
	<div class="divider"></div>
	<div class="page-input-container">
		<div><strong>{$lng->downloads}</strong></div>
		<div class="stats-container columns">
			{$lng->downloads_today}
			<h3>{$downloads_today}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->downloads_this_month}
			<h3>{$downloads_this_month}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->downloads_total}
			<h3>{$total_downloads}</h3>
		</div>
		
		
	</div>
</div>
<div class="divider"></div>
