<div class="row-body{$content_class}">
	<div class="body-content">
		<div class="grid-container">
			<div class="grid-content" id="page">
				<div class="page-container">
					<div class="page-content">
						<div class="page-header">{$header}</div>
						<div class="page-inner">
							 <div class="row"> 

							      {$content}
								
							 </div> 
						</div>
					</div>
				</div>
			</div>
			
			<div class="grid-sidebar">
				{$sidebar}
		
			</div>
		</div>
	</div>
</div>

		