
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
<div class="slide-wrap "data-type='background'data-speed='10'>
	<div class="slider">
	  <div class="slide aktiva "><img src="{$url}/{$theme_path}/{$theme_name}/bg/4.jpg" alt=""></div>
	  <div class="slide"><img src="{$url}/{$theme_path}/{$theme_name}/bg/j3.jpg" alt=""></div>
	  <div class="slide"><img src="{$url}/{$theme_path}/{$theme_name}/bg/v1.jpg" alt=""></div>
	  <div class="slide"><img src="{$url}/{$theme_path}/{$theme_name}/bg/l2.jpg" alt=""></div>
	  <div class="slide"><img src="{$url}/{$theme_path}/{$theme_name}/bg/r2.jpg" alt=""></div>
	  <div class="navigation">
		<i class="fas fa-chevron-left prev-btn"></i>
		<i class="fas fa-chevron-right next-btn"></i>
	  </div>
	  <div class="navigation-visibility">
		<div class="slide-icon active"></div>
		<div class="slide-icon"></div>
		<div class="slide-icon"></div>
		<div class="slide-icon"></div>
		<div class="slide-icon"></div>
	  </div>
	</div>
	<script type="text/javascript">
		const slider = document.querySelector(".slider");
		  const nextBtn = document.querySelector(".next-btn");
		  const prevBtn = document.querySelector(".prev-btn");
		  const slides = document.querySelectorAll(".slide");
		  const slideIcons = document.querySelectorAll(".slide-icon");
		  const numberOfSlides = slides.length;
		  let slideNumber = 0;
		
		  //image slider next button
		  nextBtn.addEventListener("click", () => {
			slides.forEach((slide) => {
			  slide.classList.remove("aktiva");
			});
			slideIcons.forEach((slideIcon) => {
			  slideIcon.classList.remove("aktiva");
			});
		
			slideNumber++;
		
			if (slideNumber > numberOfSlides - 1) {
			  slideNumber = 0;
			}
		
			slides[slideNumber].classList.add("aktiva");
			slideIcons[slideNumber].classList.add("aktiva");
		  });
		
		  //image slider previous button
		  prevBtn.addEventListener("click", () => {
			slides.forEach((slide) => {
			  slide.classList.remove("aktiva");
			});
			slideIcons.forEach((slideIcon) => {
			  slideIcon.classList.remove("aktiva");
			});
		
			slideNumber--;
		
			if (slideNumber < 0) {
			  slideNumber = numberOfSlides - 1;
			}
		
			slides[slideNumber].classList.add("aktiva");
			slideIcons[slideNumber].classList.add("aktiva");
		  });
		
		  var playSlider;
		
		  var repeater = () => {
			playSlider = setInterval(function () {
			  slides.forEach((slide) => {
				slide.classList.remove("aktiva");
			  });
			  slideIcons.forEach((slideIcon) => {
				slideIcon.classList.remove("aktiva");
			  });
		
			  slideNumber++;
		
			  if (slideNumber > numberOfSlides - 1) {
				slideNumber = 0;
			  }
		
			  slides[slideNumber].classList.add("aktiva");
			  slideIcons[slideNumber].classList.add("aktiva");
			}, 4000);
		  };
		  repeater();
		
		  //stop the image slider autoplay on mouseover
		  slider.addEventListener("mouseover", () => {
			clearInterval(playSlider);
		  });
		
		  //start the image slider autoplay again on mouseout
		  slider.addEventListener("mouseout", () => {
			repeater();
		  });
		</script>
  </div>
 <!-- <div class="row-body">  -->
<div class="body-content">
{$notifications}
<div class="welcome-content">
	 <!-- <div class="row-body">  -->
		<div class="welcome-box-section">
			{$lng->popular}
		</div>
		<div class="welcome-tracks">
			{$popular}
		</div>
		<div class="wc-button">
			<a href="{$url_popular}" rel="loadpage">{$lng->explore}</a>
		</div>
		
	 <!-- </div>  -->

</div>

</div>

 <!-- </div>  -->