<div class="menu-image">
  <div class="menu_arrow"></div>
  <div class="menu_img">
    <img
      src="{$url}/thumb.php?src={$avatar}&t=a&w=50&h=50"
      title="{$realname}"
    />
  </div>
  
</div>

<div id="menu-dd-container" class="menu-dd-container">
	<div class="menu-dd-content">
		{$links}
	</div>
</div> 
{$admin_url}
