<div class="row-body{$content_class}">
	<div class="body-content">
		<div class="twelve columns" id="recover">
			<div class="page-container">
				<div class="page-content">
				<div class="page-header">Cấp lại mật khẩu</div>
					<div class="row">
						{$top}
						{$error}
						
						{$message}
						{$rows}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>