<div class="row-body">
	<div class="body-content">
		<div class="grid-container">
			<div class="grid-content" id="upload">
				{$rows}
			</div>
			 <div class="grid-sidebar">
				{$sidebar}
			</div> 
		</div>
	</div>
</div>