<div class="page-header">{$lng->upload}</div>
	<div class="page-inner">
	<div class="page-input-container">
		<div class="stats-container columns">
			{$lng->plays}
			<h3>{$plays}</h3>
		</div>
		<div class="stats-container columns">
			{$lng->likes}
			<h3>{$likes}</h3>
		</div>
		 <div class="stats-container columns">
			{$lng->comments}
			<h3>{$comments}</h3>
		</div> 
	</div>
</div>